# ==========================================
# Configuration File for Login Panel
# ==========================================

PROTOCOL=http
HOST=5.196.191.139

PATH=sub

TWO_FACTOR=false
TOTP_SECRET=

USERNAME=sahandi8
PASSWORD=#Esivpn

SUBSCRIPTION=http://5.196.191.139:2096/sub/

SUB_HTTP_PORT=2082
SUB_HTTPS_PORT=2083

TEMPLATE_NAME=default
DEFAULT_LANG=fa